<div data-role='panel' id='navpanel'>

	<a data-ajax='false' href='/' class='nav-button ui-btn ui-icon-gear ui-btn-icon-left'>Main</a>
	<a data-ajax='false' href='/map' class='nav-button ui-btn ui-icon-navigation ui-btn-icon-left'>Map</a>
	<a data-ajax='false' href='/settings' class='nav-button ui-btn ui-icon-gear ui-btn-icon-left'>Settings</a>
	<a data-ajax='false' href='/logout' class='nav-button ui-btn ui-icon-power ui-btn-icon-left'>Logout</a>

</div>

<div data-role='header' class='row' id='header-div'>
	<h1><span class='branded'>SentryGun</span> <i>{{ current_view }}</i></h1>
	
	<a href='#navpanel' class='ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext'>Panel</a>

</div>
test
