<!DOCTYPE html>
<html lang='en-US'>

  {% set current_view = 'Dashboard' %}

  <head>
  {% include 'head.html' %}
  </head>

  <body>

    <div data-role="page" id="mainpage">

      {% include 'header.html' %}

      <div data-role="main" class="ui-content">

        <div id='set' data-role="collapsible-set">
			
        </div>

      </div>

    </div>


	<script src='/static/js/smashd/event_handlers.js'></script>
	<script src='/static/js/smashd/ui.js'></script>
	<script src='/static/js/smashd/main.js'></script>

  </body>

</html>
